.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s linear;
  pointer-events: none;

  &.loading {
    opacity: 1;
    transition: none;
    pointer-events: auto;
  }

  &__progress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff5a5a;
    animation: spin 1s linear infinite;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #5af33f;
      transform: rotate(120deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #6dc9ff;
      transform: rotate(240deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
